# Python Files
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/
.venv
environnement

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# System files
.DS_Store
Thumbs.db

# Temporary files
*.log
output/

# ========== DATA FOLDER STRATEGY ==========
# we don't keep intermediate files
DATA/processed_data/*


# we keep raw data for streamlit
!DATA/raw_data/